# gitignore
.gitignore

# API keys
api.txt

# Py cache 
__pycache__/
*.pyc

# DS store
.DS_Store

# Certificates
*.cer

# Old
Old/

# Realtor
getdata_realtor.py
scrapeweb_realtor.py
cleandata_realtor.py
cleanfunctions_realtor.py